body {
margin: 0;
padding: 0;
font-family: "Outfit", sans-serif;  background-color: white;
color: black;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  background-color: white;
  width: 90%;
  max-width: 700px;
  padding: 30px;
  border-radius: 10px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

h2 {
  font-size: 14px;
  color: gray;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.projects {
  border-top: 1px solid white;
  padding-top: 20px;
}

.projects-title {
  font-size: 12px;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 15px;
}

.project-list {
  list-style: none;
  padding: 0;
}

.project {
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.project-link {
  font-size: 16px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}

.project-desc {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid white;
  font-size: 12px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: gray;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.project-image {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid white;
}

.project-image {
  transition: 0.3s;
}

.project-image:hover {
  transform: scale(1.03);
  opacity: 0.9;
  cursor: pointer;
}
